* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 1221px;
  margin: 0 auto;
  padding: 0 10px;
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url(../fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
  font-family: "DM Serif Display", serif;
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
}
nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 34px 0;
  z-index: 5;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
  list-style: none;
}

.navbar__menu-link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #292F36;
}

.navbar__open {
  display: none;
  background: none;
  border: none;
}

.navbar__checkbox {
  display: none;
}

.navbar__remove {
  display: none;
}

.navbar__checkbox:checked ~ .navbar__remove {
  display: block;
}

.navbar__checkbox:checked ~ .navbar__open {
  display: none;
}

.hero {
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-top: 208px;
  width: 100%;
  height: 758px;
  padding-left: 52px;
  border-radius: 20px;
  border-radius: 70px;
  margin-top: 128px;
}

.hero h1 {
  font-family: "DM Serif Display", serif;
  width: 434px;
  font-size: 65px;
  font-weight: 600;
  line-height: 81px;
  color: #292F36;
  letter-spacing: 0em;
  text-align: left;
}

.hero h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #292F36;
  margin-top: 18px;
  width: 433px;
}

.hero button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 220.14px;
  height: 75px;
  border-radius: 18px;
  background-color: #292F36;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: center;
  transition: 0.5s;
  margin-top: 21px;
  color: #fff;
  border: none;
  gap: 10px;
}

.hero button:hover {
  background-color: #3b4551;
}

@media screen and (max-width: 992px) {
  .navbar__menu-link {
    font-size: 18px;
  }
  .navbar__menu {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-menu-open,
  .navbar-menu-close {
    width: 30px;
  }
  .navbar__menu {
    flex-direction: column;
    position: fixed;
    padding-top: 93px;
    gap: 32px;
    width: 100%;
    top: 12%;
    background: rgb(254, 252, 247);
    background: linear-gradient(0deg, rgba(254, 252, 247, 0) 0%, rgb(254, 252, 247) 46%, rgb(254, 252, 247) 90%);
    height: 80vh;
    z-index: 2;
    transform: translateX(120%);
    visibility: hidden;
    transition: 0.5s;
  }
  .navbar__checkbox:checked + .navbar__menu {
    transform: translateX(0);
    visibility: visible;
  }
  .navbar__open {
    display: block;
  }
  .navbar__menu-link {
    color: #333D4B;
    font-size: 24px;
    font-family: var(--franc);
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 576px) {
  .navbar__menu {
    flex-direction: column;
    position: fixed;
    padding-top: 93px;
    gap: 32px;
    width: 100%;
    top: 12%;
    background: rgb(254, 252, 247);
    background: linear-gradient(0deg, rgba(254, 252, 247, 0) 0%, rgb(254, 252, 247) 46%, rgb(254, 252, 247) 90%);
    height: 80vh;
    z-index: 2;
    transform: translateX(120%);
    visibility: hidden;
    transition: 0.5s;
  }
  .navbar__checkbox:checked + .navbar__menu {
    transform: translateX(0);
    visibility: visible;
  }
  .navbar__open {
    display: block;
  }
  .navbar__menu-link {
    color: #333D4B;
    font-size: 24px;
    font-family: var(--franc);
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
  }
  .hero h1 {
    font-family: "DM Serif Display", serif;
    width: 315px;
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
  }
  .hero h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 12px;
    width: 300px;
  }
}
.plan {
  padding-top: 200px;
}

.plan__wrapper {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
  margin: 0 auto;
  justify-content: center;
}

.plan__wrapper-1,
.plan__wrapper-2,
.plan__wrapper-3 {
  width: 358px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__wrapper-1 h3,
.plan__wrapper-2 h3,
.plan__wrapper-3 h3 {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  color: #292F36;
  text-align: center;
}

.plan__wrapper-1 h5,
.plan__wrapper-2 h5,
.plan__wrapper-3 h5 {
  font-size: 22px;
  max-width: 358px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  margin-top: 20px;
  margin-bottom: 52px;
  color: #4D5053;
  text-align: center;
}

.plan__wrapper-1 h4,
.plan__wrapper-2 h4,
.plan__wrapper-3 h4 {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: center;
}

.plan__wrapper-1 a,
.plan__wrapper-2 a,
.plan__wrapper-3 a {
  text-decoration: none;
  color: #4D5053;
}

@media screen and (max-width: 992px) {
  .plan__wrapper-1 h5,
  .plan__wrapper-2 h5,
  .plan__wrapper-3 h5 {
    font-size: 18px;
    max-width: 308px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    margin-top: 20px;
    margin-bottom: 52px;
    color: #4D5053;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .plan__wrapper {
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 80px;
  }
}
.create {
  padding-top: 200px;
}

.create__wrapper {
  display: flex;
  -moz-column-gap: 75px;
       column-gap: 75px;
}

.create__wrapper-left {
  display: flex;
  flex-direction: column;
}

.create__wrapper-left h2 {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 430px;
  -moz-columns: #292F36;
       columns: #292F36;
}

.create__wrapper-left h4 {
  width: 472px;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  margin-top: 33px;
  margin-bottom: 45px;
  text-align: left;
  color: #4D5053;
}

.create__wrapper-left button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 238.14px;
  height: 75px;
  border-radius: 18px;
  background-color: #292F36;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 47px;
  transition: 0.5s;
}

.create__wrapper-left button:hover {
  background-color: #3b4551;
}

.create__wrapper-left-phone {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
  width: 277px;
  height: 93px;
}

.create__wrapper-left h3 {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: left;
}

.create__wrapper-left span {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.create__wrapper-right {
  background-image: url(../../images/create__wrapper-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 653px;
  height: 700px;
}

@media screen and (max-width: 1100px) {
  .create__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 70px;
  }
  .create__wrapper-right {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .create__wrapper-left {
    max-width: 310px;
  }
  .create__wrapper-left h2 {
    font-family: "DM Serif Display", serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 310px;
    -moz-columns: #292F36;
         columns: #292F36;
  }
  .create__wrapper-left h4 {
    max-width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    margin-top: 33px;
    margin-bottom: 45px;
    text-align: left;
    color: #4D5053;
  }
}
.about {
  margin-top: 200px;
}

.about__wrapper {
  padding-top: 88px;
  border-radius: 30px;
  padding-bottom: 88px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #F4F0EC;
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: center;
}

.about__wrapper h2 {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 547px;
  height: 126px;
}

.about__wrapper-boxes {
  display: flex;
  gap: 20px;
}

.about__wrapper-left,
.about__wrapper-center,
.about__wrapper-right {
  width: 370px;
  height: 339px;
  background-color: #fff;
  border-radius: 30px;
  padding-top: 53px;
  padding-left: 37px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.about__wrapper-left-person,
.about__wrapper-center-person,
.about__wrapper-right-person {
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
}

.about__wrapper-boxes h3 {
  font-family: "DM Serif Display", serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
  max-width: 175px;
  height: 62px;
}

.about__wrapper-boxes span {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: left;
}

.about__wrapper-boxes h4 {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
  max-width: 296px;
  height: 132px;
}

.about__wrapper-left-person,
.about__wrapper-center-person,
.about__wrapper-right-person {
  gap: 18px;
}

@media screen and (max-width: 1100px) {
  .about__wrapper {
    padding-top: 88px;
    border-radius: 30px;
    padding-bottom: 88px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F4F0EC;
    display: flex;
    flex-direction: column;
    gap: 38px;
    align-items: center;
  }
  .about__wrapper-boxes {
    gap: 10px;
  }
  .about__wrapper-left,
  .about__wrapper-center,
  .about__wrapper-right {
    width: 280px;
    height: 249px;
    background-color: #fff;
    border-radius: 25px;
    padding-top: 53px;
    padding-left: 37px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
  .about__wrapper-left img,
  .about__wrapper-center img,
  .about__wrapper-right img {
    width: 50px;
    height: 50px;
  }
  .about__wrapper-boxes h4 {
    font-family: "Jost", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    width: 206px;
    height: 132px;
  }
  .about__wrapper-boxes h3 {
    font-family: "DM Serif Display", serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    width: 135px;
    height: 62px;
  }
  .about__wrapper-boxes span {
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .about__wrapper h2 {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: center;
    width: 407px;
    height: 126px;
  }
  .about__wrapper-boxes {
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .about__wrapper h2 {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0.02em;
    text-align: center;
    width: 447px;
    height: 126px;
  }
}
@media screen and (max-width: 992px) {
  .about {
    margin-top: 80px;
  }
  .about__wrapper-boxes {
    flex-wrap: wrap;
  }
  .about__wrapper h2 {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0.02em;
    text-align: center;
    width: 447px;
    height: 126px;
  }
}
@media screen and (max-width: 768px) {
  .about__wrapper {
    gap: 10px;
  }
  .about__wrapper-boxes {
    justify-content: center;
    row-gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  .about__wrapper {
    padding-bottom: 37px;
    padding-top: 50px;
    row-gap: 20px;
  }
  .about__wrapper h2 {
    font-size: 24px;
    line-height: 30px;
    width: 280px;
    height: 70px;
  }
}
.brands {
  margin-top: 150px;
}

.brands__wrapper {
  margin: 0 auto;
  max-width: 1090.39px;
  display: flex;
  -moz-column-gap: 108px;
       column-gap: 108px;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .brands__wrapper {
    margin: 0 auto;
    -moz-column-gap: 50px;
         column-gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .brands {
    margin-top: 90px;
  }
  .brands__wrapper {
    row-gap: 40px;
  }
}
.follow {
  margin-top: 150px;
  margin-bottom: 200px;
}

.follow__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow__wrapper h2 {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0.02em;
  text-align: center;
}

.follow__wrapper h4 {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  width: 737px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 8px;
}

.follow__wrapper-type {
  margin-top: 93px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 104px;
       column-gap: 104px;
  row-gap: 56px;
}

.follow__wrapper-type-1,
.follow__wrapper-type-2,
.follow__wrapper-type-3,
.follow__wrapper-type-4 {
  width: 525px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 642px;
}

.follow__wrapper-type-1-top,
.follow__wrapper-type-2-top,
.follow__wrapper-type-3-top,
.follow__wrapper-type-4-top {
  width: 525px;
  height: 548px;
  background-repeat: no-repeat;
  background-size: contain;
}

.follow__wrapper-type-1-bottom,
.follow__wrapper-type-2-bottom,
.follow__wrapper-type-3-bottom,
.follow__wrapper-type-4-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}

.follow__wrapper-type-1-bottom h3,
.follow__wrapper-type-2-bottom h3,
.follow__wrapper-type-3-bottom h3,
.follow__wrapper-type-4-bottom h3 {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 217px;
  height: 62px;
}

.follow__wrapper-type-1-bottom span,
.follow__wrapper-type-2-bottom span,
.follow__wrapper-type-3-bottom span,
.follow__wrapper-type-4-bottom span {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.follow__wrapper-type-1-bottom img,
.follow__wrapper-type-2-bottom img,
.follow__wrapper-type-3-bottom img,
.follow__wrapper-type-4-bottom img {
  cursor: pointer;
}

.follow__wrapper-type-1-top {
  background-image: url(../images/follow-1.png);
}

.follow__wrapper-type-2-top {
  background-image: url(../images/follow-2.png);
}

.follow__wrapper-type-3-top {
  background-image: url(../images/follow-3.png);
}

.follow__wrapper-type-4-top {
  background-image: url(../images/follow-4.png);
}

@media screen and (max-width: 1100px) {
  .follow__wrapper-type {
    flex-wrap: wrap;
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 56px;
    justify-content: center;
  }
  .follow__wrapper-type-1,
  .follow__wrapper-type-2,
  .follow__wrapper-type-3,
  .follow__wrapper-type-4 {
    width: 375px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    height: 492px;
  }
  .follow__wrapper-type-1-top,
  .follow__wrapper-type-2-top,
  .follow__wrapper-type-3-top,
  .follow__wrapper-type-4-top {
    width: 375px;
    height: 398px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .follow__wrapper-type-1-bottom,
  .follow__wrapper-type-2-bottom,
  .follow__wrapper-type-3-bottom,
  .follow__wrapper-type-4-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }
  .follow__wrapper-type-1-bottom h3,
  .follow__wrapper-type-2-bottom h3,
  .follow__wrapper-type-3-bottom h3,
  .follow__wrapper-type-4-bottom h3 {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 217px;
    height: 62px;
  }
  .follow__wrapper-type-1-bottom span,
  .follow__wrapper-type-2-bottom span,
  .follow__wrapper-type-3-bottom span,
  .follow__wrapper-type-4-bottom span {
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .follow__wrapper h4 {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 307px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 8px;
  }
}
@media screen and (max-width: 576px) {
  .follow {
    margin-top: 90px;
    margin-bottom: 120px;
  }
}
.counts {
  background-color: #F4F0EC;
  padding: 151px 0;
  margin-bottom: 200px;
}

.count {
  text-align: center;
  padding-right: 54px;
  border-right: 1px solid #CDA274;
}
.count p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
.count h2 span {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 85px;
  line-height: 106px;
  color: #CDA274;
}

.counts-rwapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 76px;
       column-gap: 76px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .counts-rwapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
  .count {
    border: none;
    border-bottom: 1px solid #CDA274;
    padding-left: 54px;
    padding-bottom: 20px;
  }
}
.article h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  text-align: center;
  margin-bottom: 12px;
}

.article p {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  max-width: 811px;
  margin: 0 auto;
  margin-bottom: 52px;
}

.article__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article__cards-card {
  border: 1px solid #E7E7E7;
  padding: 21px;
  border-radius: 50px;
  position: relative;
  transition: 0.5s;
}
.article__cards-card h3 {
  font-family: "DM Serif Display", serif;
  max-width: 226px;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  margin: 21px 0 30px 0;
}
.article__cards-card img {
  border-radius: none;
}
.article__cards-card span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article__cards-card span img {
  cursor: pointer;
}
.article__cards-card:hover {
  scale: 1.1;
}

.article__cards-card--middle {
  background-color: #F4F0EC;
}

.article-news {
  margin-bottom: 200px;
}

.massage {
  background-color: #292F36;
  padding: 8px 10px;
  position: absolute;
  top: 252px;
  left: 41px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.massage h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4D5053;
}

@media screen and (max-width: 1100px) {
  .article__cards {
    display: flex;
    align-items: center;
  }
  .article__cards-card {
    max-width: 368px;
  }
  .article__cards-card-mainimg {
    max-width: 238px;
  }
  .massage {
    top: 184px;
    left: 35px;
    padding: 4px 5px;
  }
}
@media screen and (max-width: 768px) {
  .article__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    justify-content: center;
  }
  .article__cards-card {
    max-width: 384px;
  }
}
footer .container .footer-container {
  max-width: 1199px;
  border-radius: 70px;
  background: #292F36;
}
footer .container .footer-container .info__text {
  padding: 80px 315px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 28px;
}
footer .container .footer-container .info__text-title {
  max-width: 569px;
  color: #FFF;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  padding-bottom: 11px;
}
footer .container .footer-container .info__text-span {
  max-width: 452px;
  color: #FFF;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
footer .container .footer-container .info__text-btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  border-radius: 18px;
  background: #CDA274;
  box-shadow: 0px 10px 20px 0px #1F2022;
  color: #FFF;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 26px 37px;
  border: 1px solid transparent;
  margin-top: 32px auto;
  cursor: pointer;
  transition: 0.5s;
}
footer .container .footer-container .info__text-btn img {
  background-color: #CDA274;
  border-radius: 50px;
}
footer .container .footer-container .info__text-btn:hover {
  background-color: transparent;
  color: #CDA274;
  border-color: #CDA274;
}
footer .container .footer-container .info__text-btn:active {
  transform: scale(0.9);
}
footer .container .footer_end {
  display: flex;
  align-items: flex-start;
  gap: 101px;
  padding-top: 200px;
  padding-bottom: 150px;
}
footer .container .footer_end-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
footer .container .footer_end-block p {
  max-width: 393px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  padding-bottom: 31.5px;
}
footer .container .site {
  display: flex;
  max-width: 225px;
  align-items: center;
  gap: 54px;
}
footer .container .footer_end-block-menu-ul {
  display: flex;
  max-width: 125px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  flex-shrink: 0;
  list-style: none;
}
footer .container .footer_end-block-menu-ul {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
footer .container .footer_end-block-menu-ul-link {
  text-decoration: none;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}
footer .container .call {
  display: flex;
  max-width: 280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  flex-shrink: 0;
}
footer .container .call {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
footer .container .telephone {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
  text-decoration: none;
}
footer .container .footer_end-span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.info__text-span,
.info__text-title {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1100px) {
  .info__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
  .footer_end,
  .footer_end-block {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .info__text {
    justify-content: center;
  }
  .footer_end {
    margin-left: 60px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .info__text-btn {
    width: 237.14px;
    height: 75px;
  }
  .info__text-title {
    font-family: "DM Serif Display", serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .footer_end {
    margin-left: 82px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 75px;
         column-gap: 75px;
  }
  .footer_end-block-menu-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .footer_end-block-menu-ul-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info__text {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .footer_end,
  .footer_end-block {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */