.article h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 12px;
}

.article p {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    max-width: 811px;
    margin: 0 auto;
    margin-bottom: 52px;
}

.article__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-card {
        border: 1px solid #E7E7E7;
        padding: 21px;
        border-radius: 50px;
        position: relative;
        & h3 {
            font-family: $title-font;
            max-width: 226px;
            font-weight: 400;
            font-size: 25px;
            line-height: 31px;
            margin: 21px 0 30px 0;
        }
        & img {
            border-radius: none;
        }
        & span {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: gray;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.article__cards-card--middle {
    background-color: $secondary-color2;
}

.article-news {
    margin-bottom: 200px;
}

.massage {
    background-color: $main-color;
    padding: 8px 10px;
    position: absolute;
    top: 252px;
    left: 41px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    & h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4D5053;
    }
}